/*
Error: Invalid CSS after "...ials/variables'": expected "{", was ";"
        on line 4 of /Users/qiaochumu/Documents/2016summer/homepage/code0628/src/main-topnav.scss

1: #-*- coding: utf-8 -*-
2: 
3: 
4: @import '../lib/styles/partials/variables';
5: @import '../lib/styles/partials/mixins';
6: @import '../lib/styles/partials/common';
7: 
8: $horizontal-menu-li-width:140px;
9: $horizontal-menu-li-width-small: 100px;

Backtrace:
/Users/qiaochumu/Documents/2016summer/homepage/code0628/src/main-topnav.scss:4
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Users/qiaochumu/Downloads/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ials/variables'\": expected \"{\", was \";\"\A         on line 4 of /Users/qiaochumu/Documents/2016summer/homepage/code0628/src/main-topnav.scss\A \A 1: #-*- coding: utf-8 -*-\A 2: \A 3: \A 4: @import '../lib/styles/partials/variables';\A 5: @import '../lib/styles/partials/mixins';\A 6: @import '../lib/styles/partials/common';\A 7: \A 8: $horizontal-menu-li-width:140px;\A 9: $horizontal-menu-li-width-small: 100px;"; }
